.gallery {
  display: grid;
  gap: var(--space-4);
  grid-template-columns: 1fr;
}

@media (min-width: 640px) {
  .two {
    grid-template-columns: repeat(2, 1fr);
  }

  .three {
    grid-template-columns: repeat(3, 1fr);
  }
}
